:root{
    --color-dark: #000;
    --colocr-white: #fff;
    --color-light: #ababab;
    --color-darkblue: #0a036e;

}
*{
    background-color: var(--color-dark);
    color: var(--colocr-white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
}

.clock {
    display: flex;
    flex-direction: row; /* Mantém os elementos na horizontal */
    align-items: center; /* Centraliza verticalmente */
    gap: 50px;
}
.powered-by {
    text-align: center;
}   
.clock span{
    display: flex;
    font-size: 150px;
    gap: 50px;
}

.clock span:not(:last-child)::after{
    content: ":";
    margin-bottom: 25px;
    color: var(--color-light);
}
h2 strong{
    color: var(--color-darkblue);
}